footer{
    text-align: center;
    padding: 15px;
    background-color: #ffd3d3;
    color:#c27979;
    width: 100%;
    font-family: Inter;
    font-size: 14.461px;
    font-weight: 500;
    letter-spacing: -1.085px;
}